@import url("http://fonts.cdnfonts.com/css/harry-potter");

* {
  box-sizing: border-box;
}

html {
  font-family: "Harry Potter", sans-serif;
}

body {
  background-color: white;
}

a {
  text-decoration: none;
}

.no-match-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-match-container h1 {
  font-size: 4rem;
}

.header-container {
  display: flex;
  justify-content: space-around;
  font-size: xx-large;
  margin: 2rem;
}

.home-container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.home-container .card {
  background-color: black;
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 5px;
  box-shadow: inset 0 0 10px #000000;
  font-family: "Bebas Neue";
}

.characterCard {
  width: 13rem;
  justify-content: space-around;
  align-content: center;
}
.card {
  justify-items: center;
  text-align: center;
  justify-content: space-around;
}
.characterPicture {
  width: 10rem;
  height: 15rem;
  object-fit: cover;
}
